* {
    font-family: Rubik, sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    --tw-bg-opacity: 1;
    background-color: rgb(247 248 252/var(--tw-bg-opacity));
}

::selection {
    background-color: #6674cc;
    color: #fff;
}


.main {
    height: 100px;
    --tw-bg-opacity: 1;
    background-color: rgb(247 248 252/var(--tw-bg-opacity));
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    box-shadow: rgba(157, 157, 157, 0.2) 0px 4px 10px;
}

.container {
    height: 100%;
    width: 95%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    text-align: -webkit-match-parent;
}

#feature ul li {
    list-style: none;
}

#op svg {
    align-items: center;
    height: 16px;
}

#feature ul li a {
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.25rem;
    margin: 0px 12px;
    color: black;
    font-weight: 500;
    color: inherit;
}

#feature ul li a:hover {
    color: #6674cc;
}

.login-btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn,
.btn-hover:hover {
    cursor: pointer;
}

#first-btn,
#second-btn,
#first-ham-btn,
#second-ham-btn {
    border-radius: 0.375rem;
    border-width: 1px;
    border: 1px solid #6674cc;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #fff;
    font-family: inherit;
    margin: 0px 5px;
}

#second-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    background-color: #6674cc;
    color: #fff;
}

#second-ham-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    background-color: #6674cc;
    color: #fff;
}

#second-btn svg {
    margin-left: 4px;
}

#second-ham-btn svg {
    margin-left: 4px;
}

#responsive-icon {
    display: none;
}

.nav-element {
    display: flex;
    top: 80px;
    flex-direction: column;
    width: 300px;
    height: 290px;
    position: fixed;
    background-color: rgb(212, 211, 211);
    border-radius: 1.75rem;
    padding-left: 10px;
    transition: all 0.3s ease;
}


.nav-element h3 {
    color: black;
}

.nav-element p {
    color: black;
}

#day {
    display: none;
}

#hamburger-menu {
    top: 100px;
    position: fixed;
    width: 100vw;
    padding-bottom: 5rem;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: rgba(157, 157, 157, 0.2) 0px 4px 10px;
    display: none;
    backdrop-filter: blur(16px);
    z-index: 9998;
}

#hamburger-menu a {
    color: black;
    margin-top: 24px;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: inherit;
}


section {
    width: 100%;
    position: absolute;
    top: 150px;
}

.container2 {
    display: flex;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info h1 {
    font-size: 3.75rem;
    line-height: 0.1rem;
    pointer-events: auto;
    font-weight: 700;
    column-gap: 0.5rem;
    align-items: center;
}

#sub-section1 p {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

#info h1 #color {
    color: #6674cc;
}

.btn {
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    border-radius: 0.375rem;
    border-width: 1px;
}

#btn1 {
    background-color: #6674cc;
    color: #fff;
    border: none;
}

#btn2 {
    border: 1px solid #6674cc;
    margin-left: 6px;
}

#sub-section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container3 {
    position: absolute;
    top: 700px;
    width: 100%;
    background-color: #6674cc;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sub-container3,
.boxes {
    display: flex;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.sub-container3 {
    justify-content: space-evenly;
    align-items: center;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.sub-container3 h1 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    color: #fff;
}

.sub-container3 span {
    font-weight: 500;
    display: flex;
    justify-content: center;
    color: #fff;
}

.boxes {
    flex-direction: column;
    padding-right: 5.5rem;
}

#info1,
#info2,
#info3 {
    border-right: 2px solid #fff;
}

.sub-container4 {
    /* background-color: #fff; */
    margin-bottom: -60px;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    --tw-bg-opacity: 1;
    background-color: rgb(247 248 252/var(--tw-bg-opacity));
}

.helper1 {
    margin-top: 100px;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

#text span {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
/*     padding-right: 2rem; */
}

#text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.helper1 h1 {
    font-size: 42px;
    font-weight: 700;
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#text span {
    color: #6674cc;
}

.con2 {
    width: 100%;
}

.helper2 {
    max-width: 1300px;
    display: grid;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    column-gap: 1.5rem;
    row-gap: 4rem;
    justify-content: center;
    width: fit-content;
}

.big-box {
    box-sizing: content-box;
    max-width: 380px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0.775rem;
    box-shadow: -2px -1px 8px antiquewhite;
    row-gap: 1rem;
    background-color: #fff;
    border-bottom-width: 6px;
    border-bottom-color: rgba(1, 162, 142, 0.39);
    transition: transform 0.3s ease;
}

.big-box:hover {
    transform: scale(1.063);
}

.big-box p {
    color: (119 124 133/var(1));
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 80%;
}

.p-4 {
    padding: 1rem;
    border-radius: 9999px;
    place-content: center;
    text-align: center;
    line-height: inherit;
    width: 2rem;
}

.helper3 {
    height: 100%;
    width: 100%;
}

.instructor {
    width: 100%;
}

#instructor1 {
    max-width: 1270px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.1rem;
}

#instructor1 h1 span {
    color: #6674cc;
}

#kl {
    max-width: 1280px;
}

#instructor-btn {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    border-radius: 0.375rem;
    border-width: 1px;
    border: none;
    color: #fff;
    background-color: #6674cc;
}

#instructor h1 {
    font-size: 42px;
    font-weight: 700;
}

#nope {
    height: 206px;
    width: 206px;
    object-position: top;
    object-fit: cover;
    vertical-align: middle;
}

#babbar {
    height: 100%;
    width: 100%;
}

.peti {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

#sub-babbar1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sub-babbar1 h4 {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 11px;
}

#sub-babbar1 span {
    font-size: 1.5rem;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgb(119 124 133/var(--tw-text-opacity));
}

.petis {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.petis-class {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#placement-section {
    width: 100%;
    margin-top: 120px;
}

#sub-placement-section {
    margin-top: 100px;
    max-width: 1300px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
}

#placement-image {
    height: 208px;
    width: 443px;
}

#placement-image img {
    overflow-clip-margin: content-box;
    height: 100%;
    width: 100%;
}


.placement-info span {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #6674cc;
    text-transform: uppercase;
    font-weight: 600;
    text-align: start;
}

.placement-info h1 {
    line-height: 2.8rem;
    font-size: 42px;
    font-weight: 700;
    text-align: start;
    -webkit-text-size-adjust: 100%;
}

.placement-info p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: start;
    color: #777c85;
}

#span-color {
    color: #777c85;
}

#course-section {
    margin-top: 100px;
}

#sub-course-section {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

#course-header h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    margin-top: 100px;
}

#sub-course-section #course-header h1 span {
    color: #6674cc;
}

@media only screen and (max-width: 1314px) {
    #info {
        margin-left: 25px;
    }

    #info h1 {
        font-size: 3.15rem;
        line-height: 1;
    }
}

.course {
    padding: 1.25rem;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#course1,
#course2 {
    padding: 1.25rem;
    max-width: 400px;
    margin-bottom: 1rem;
    background-color: #fff;
    box-sizing: border-box;
    border: 0 solid;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(237 237 237/var(--tw-border-opacity));
    border-width: 1px;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 1px 1px 4px black;
}

#course1,
#course2 #course1-text p {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -.025em;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#course1 img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    max-height: 13rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

#course2 img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    max-height: 13rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.w-3\/4 {
    width: 75%;
}

.bg-grey50 {
    --tw-bg-opacity: 1;
    background-color: rgb(237 237 237/var(--tw-bg-opacity));
}

#price {
    display: flex;
    font-weight: 700;
    gap: 0.75rem;
    margin-top: 1rem;
}

.text-brand {
    --tw-text-opacity: 1;
    color: rgb(102 116 204/var(--tw-text-opacity));
}

.line-through {
    text-decoration-line: line-through;
}

.bg-grassGreen {
    --tw-bg-opacity: 1;
    background-color: rgb(29 209 161/var(--tw-bg-opacity));
}

.text-\[\#fff\] {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}

.rounded-md {
    border-radius: 0.375rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.text-subText {
    --tw-text-opacity: 1;
    color: rgb(119 124 133/var(--tw-text-opacity));
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.kl-class {
    margin-top: 100px;
}

.slider {
    height: 100%;
    width: 100%;
    margin-top: 100px;
}

#sub-slide {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#slide-info span {
    color: #6674cc;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(102 116 204/var(--tw-text-opacity));
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide-info h1 {
    font-weight: 600;
    font-size: 42px;
    text-align: center;
}

.s {
    width: 100%;
    display: flex;
    max-width: 1300px;
    justify-content: space-between;
    margin-top: 50px;
}

#slide1,
#slide2,
#slide3 {
    width: 340.2px;
    height: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 1px 1px 4px black;
}

#slide1,
#slide2,
#slide3 p {
    --tw-text-opacity: 1;
    color: rgb(119 124 133/var(--tw-text-opacity));
    min-height: 90px;
    text-align: start;
}

#photo-info {
    display: flex;
    justify-content: start;
    align-items: self-end;
}

#student-info1 {
    padding-left: 1rem;
}

#student-info2 {
    padding-left: 1rem;
}

#student-info3 {
    padding-left: 1rem;
}

#student-info1 h4 {
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.25rem;
    color: black;
}

#student-info2 h4 {
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.25rem;
    color: black;
}

#student-info3 h4 {
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.25rem;
    color: black;
}

#student-info1,
#student-info2,
#student-info3 span {
    font-size: .75rem;
    line-height: 1rem;
    --tw-text-opacity: 1;
    color: rgb(119 124 133/var(--tw-text-opacity));
}

#photo-info img {
    /* position: absolute; */
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    /* margin: auto;/ */
    display: block;
    object-fit: cover;
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    border-radius: 9999px;
}

.end-section {
    margin-top: 100px;
    width: 100%;
}

#sub-end-section {
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;

}

#text-info {
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

#text-info h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}

#text-info p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgb(119 124 133/var(--tw-text-opacity));
    text-align: center;
}

.online-platform {
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.font-semibold {
    font-weight: 600;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.gap-1 {
    gap: 0.27rem;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#plateform1,
#plateform2,
#plateform3,
#plateform4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.end {
    width: 100%;
    background-color: #6674cc;
    padding-top: 3rem;
    overflow: auto;
}

#sub-end {
    display: flex;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    justify-content: space-around;
    overflow: hidden;
}

#box-1 {
    display: flex;
    text-align: start;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-direction: column;
}

#box-1 img {
    box-sizing: border-box;
    background: none;
    height: 80px;
    width: 80px;
}

#box-1 h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}

#box-1 p {
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 300px;
}

#box-2,
#box-3 {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    row-gap: 0.5rem;
}

.final-end {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.final-end p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    padding-top: 2.5rem;
    border-top-width: 1px;
    color: #fff;
    margin-top: 1rem;
    padding-bottom: 2rem;
    font-weight: 400;

}

@media only screen and (max-width: 1040px) {

    #feature {
        display: none;
    }

    #first-btn,
    #second-btn {
        display: none;
    }

    #responsive-icon {
        display: block;
        padding: 0.8rem;
    }

    .container2 {
        flex-direction: column-reverse;
    }

    #main-photo img {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    #info {
        justify-content: center;
    }

    #info h1 {
        font-size: 2.35rem;
    }

    #info p {
        font-size: 1.43rem;
        line-height: 1.5rem;
    }

    .sub-container3 {
        overflow: hidden;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .container3 {
        top: 800px;
    }

    #info2 {
        border: none;
    }

    .sub-container3 h1 {
        font-size: 2rem;
        text-align: center;
    }

    .boxes {
        padding-right: 2.5rem;
    }

    #info1,
    #info2,
    #info3 {
        border-right: none;
        padding-right: 2.5rem;
    }
    
    .helper1 {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .helper1 h1 {
        font-size: 24px;
        font-weight: 700;
    }

    #instructor1 {
        justify-content: space-around;
    }

    .course {
        flex-direction: column;
        align-items: center;
        row-gap: 13px;
    }

    #course1,
    #course2 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    #course1-text p {
        /* letter-spacing: -.025em; */
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #course-header h1 {
        font-size: 24px;
        font-weight: 700;
        max-width: 60%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (min-width: 460px) and (max-width: 1040px) {
    .container3 {
        top: 1100px;
    }

}

@media only screen and (max-width: 400px) {

    #btn1,
    #btn2 {
        font-size: .875rem;
        line-height: 1.25rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

@media only screen and (min-width:600px) and (max-width: 830px) {
    .container3 {
        top: 845px;
    }
}

@media only screen and (max-width: 1322px) {

    .helper2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    #instructor1 {
        justify-content: space-around;
    }

    #instructor1 h1 {
        font-size: 24px;
        font-weight: 700;
        padding: 1rem;
    }

    #instructor-btn {
        font-size: .875rem;
        line-height: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 895px) {
    .helper2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 895px) {
    .petis {
        flex-direction: column;
        row-gap: 50px;
    }
}

@media only screen and (max-width: 460px) {
    .big-box {
        max-width: 300px;
    }
}


@media only screen and (max-width: 1200px) {

    #sub-placement-section {
        flex-direction: column;
    }

    .placement-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #placement-image {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    #placement-image img {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .placement-info span {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .placement-info h1 {
        font-size: 24px;
        font-weight: 700;
    }

    .placement-info p {
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 600;
    }
}


@media only screen and (max-width: 1400px) {
    .s {
        margin-top: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
    }

    #slide1,
    #slide2,
    #slide3 {

        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        max-width: 327px;
        box-sizing: border-box;
        border-width: 1px;
        border-radius: 0.5rem;
        overflow: hidden;
    }

}

@media only screen and (max-width: 840px) {

    .online-platform {
        display: grid;
        width: 90%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;
        padding-top: 7rem;
        padding-bottom: 7rem;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        border: 0 solid;
    }

    #text-info h1 {
        font-size: 24px;
        font-weight: 700;
    }

    #text-info p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        text-align: center;
        pointer-events: auto;
    }

}

@media only screen and (max-width: 980px) {
    #sub-end {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #box-1 p {
        max-width: 300px;
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
    }

    #box-4 {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    #box-1,
    #box-2,
    #box-3,
    #box-4 {
        justify-content: center;
        align-items: center;
    }


    .final-end p {
        margin-right: auto;
        margin-left: auto;
        font-size: 1rem;
        line-height: 1.5rem;
        max-width: 80%;
        overflow: hidden;
    }
}
